{% extends "base.html" %}

{% block title %}Credits{% endblock %}

{% block content %}
	<!-- Start of first page -->
	<div data-role="page" id="credits_page" data-dom-cache="true">

		<div data-role="header">
            <a href="../" data-role="button" data-icon="home" data-iconpos="notext"></a>
			<h1>Credits</h1>
		</div>

		<div data-role="content">
            <a href="https://www.flaticon.com/free-icon/symbols_15612779?term=cards&page=1&position=53&origin=search&related_id=15612779" title="suits icons">Icon created by Georgiana_Lavinia - Flaticon</a>
		</div>
		{% include "footer.html" %}
	</div>
{% endblock %}
