{% extends "base.html" %} 

{% block title %}Enter{% endblock %} 
{% block imports %}{% endblock %} 

{% block content %}
	<!-- Start of first page -->
	<div data-role="page" id="index_page" data-dom-cache="true">
	
		<div data-role="header">
			<h1>M&#248;kkis statistikk</h1>
		</div>
		
		<div data-role="content">
			<a href="./players/" data-role="button">Spillere</a>
			<a href="./matches/" data-role="button">Kamper</a>
			<a href="./rating/" data-role="button">Rating</a>
			<a href="./stats/" data-role="button">Diverse</a>
		</div>
	</div>
{% endblock %}