{% extends "base.html" %} 

{% block title %}Enter{% endblock %} 
{% block imports %}{% endblock %} 

{% block content %}
	<!-- Start of first page -->
	<div data-role="page" id="foo">
	
		<div data-role="header">
			<h1>M&#248;kkis statistikk</h1>
		</div>
		
	
		<div data-role="content">
			<a data-role="button" onclick="slashedRelativeHref('players/')">Spillere</a>
			<a data-role="button" onclick="slashedRelativeHref('matches/')">Kamper</a>
			<a data-role="button" onclick="slashedRelativeHref('stats/')">Morro</a>
		</div>
	</div>
{% endblock %}