{% extends "base.html" %} 

{% block title %}Enter{% endblock %} 
{% block imports %}{% endblock %} 

{% block content %}
	<script>
		// Custom search function for the filter bar
		$(document).on('pageinit', function() {
			$("#matches").listview('option', 'filterCallback', function(text, search){
				text = text.trim().toLowerCase();
				var searchArray = search.split(" ");
				for (var i = 0; i < searchArray.length; i++) {
					if (text.search(searchArray[i]) == -1) return true;
				}
				return false;
			});
		    $("#matches").prev().on("keyup keypress blur change", function(){
		        var visibleCount = $("#matches li:visible").length;
		        $("#match_count").text(visibleCount);
		    });
		});

	</script>
	<!-- Start of first page -->
	<div data-role="page" class="matches_page">
	
		<div data-role="header">
			<a href="../" data-role="button" data-icon="home" data-iconpos="notext"></a>
			<h1>Kamper (<span id="match_count">{{matches|length}}</span>)</h1>
		</div>
		
		<div data-role="content">
			<ul id="matches" data-role="listview" data-theme="d" data-filter="true" data-filter-placeholder="Søk i kamper...">
				{% for match in matches %}
				    <li>
				    	<a href="./{{match.id}}/" >{{ match.year }}, {{match.month}} | {{match.place}} 
				    		<span class="smallest"></span>
				    	</a>
				    </li>
				{% endfor %}
			</ul>
		</div>
		
	</div>
{% endblock %}