{% extends "base.html" %} 

{% block title %}Kamp: {{day}} {{month}} {{ year }} | {{place}} {% endblock %} 

{% block content %}

	<!-- Start of first page -->
	<div data-role="page" id="match_page">
	
		<div data-role="header">
			<a href="../../" data-role="button" data-icon="home" data-iconpos="notext"></a>
			<a href="../" data-role="button" data-icon="back">Kamper</a>
			<h1>{{day}} {{month}} {{ year }} | {{place}} </h1>
		</div>
		
	
		<div data-role="content">
			<table id="results">
				<thead>
					<tr>
						<th></th>
						<th title="Spar"><div class="center_outer"><span class="icon icon_spade center_inner"></span></div></th>
						<th title="Damer"><div class="center_outer"><span class="icon icon_queen center_inner"></span></div></th>
						<th title="Kabal: streker"><div class="center_outer"><span class="icon icon_solit_lines center_inner"></span></div></th>
						<th title="Kabal: kort igjen"><div class="center_outer"><span class="icon icon_solit_cards center_inner"></span></div></th>
						<th title="Pass"><div class="center_outer"><span class="icon icon_pass center_inner"></span></div></th>
						<th title="Grand"><div class="center_outer"><span class="icon icon_grand center_inner"></span></div></th>
						<th title="Trumf"><div class="center_outer"><span class="icon icon_trumph center_inner"></span></div></th>
						<th title="Sum"><div class="center_outer"><span class="icon icon_sum center_inner"></span></div></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for result in results %}
					<tr>
						<td>
							<span class="left" style="margin-right: 5px;">{{result.player.name}}</span>
							{% if result.winner %}
								<span title="Vinner" class="icon icon_star left"></span>
							{% endif %}
						</td>
						<td class="center">{{result.spades}}</td>
						<td class="center">{{result.queens}}</td>
						<td class="center">{{result.solitaire_lines}}</td>
						<td class="center">{{result.solitaire_cards}}</td>
						<td class="center">{{result.pass}}</td>
						<td class="center">{{result.grand}}</td>
						<td class="center">{{result.trumph}}</td>
						<td class="center"><b>{{result.total}}</b></td>
						{% if result.rating_change > 0 %}
							<td class="center dif positive">+{{result.rating_change}}</td>
						{% elif result.rating_change < 0 %}
							<td class="center dif negative">{{result.rating_change}}</td>
						{% else %}
							<td class="center dif">{{result.rating_change}}</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		
		<div style="overflow: hidden" data-role="footer" >
			{% if prev_match_id %}
				<a href="../{{ prev_match_id }}/" data-role="button" data-icon="arrow-l">Forrige</a>
			{% endif %}
			{% if next_match_id %}
				<a href="../{{ next_match_id }}/" class="right" data-role="button" data-icon="arrow-r" data-iconpos="right">Neste</a>
			{% endif %}
		</div>
		
	</div>
{% endblock %}