{% extends "base.html" %} 

{% block title %}Spiller: {{ name }}{% endblock %}

{% block content %}
	<!-- Start of first page -->
	<div data-role="page" id="player_page_{{id}}">
	
		<div data-role="header">
			<a href="../../" data-role="button" data-icon="home" data-iconpos="notext"></a>
			<a href="../" data-role="button" data-icon="back">Spillere</a>
			<h1>{{ name }}</h1>
		</div>
		
	
		<div data-role="content">
			<div class="center_outer">
				<div id="{{id}}_pie_graph" class="graph center_inner"></div>
			</div>
			<div class="center_outer">
				<div id="{{id}}_rating_graph" class="graph center_inner"></div>
			</div>
			<div class="center_outer">
				<div class="center_inner">
					<div class="jquery_plot_similar_title">Runde prestasjoner</div>
					<table class="default">
						<thead>
							<tr>
								<th></th>
								<th>{{name}}'s snitt</th>
								<th>Samlet Snitt</th>
								<th>Forskjell</th>
							</tr>
						</thead>
						<tbody>
							{% for round in round_performances %}
								<tr>
									<td><span class="icon icon_{{round.type}}"></span></td>
									<td>{{round.player_average}}</td>
									<td>{{round.all_average}}</td>
									{% if round.good %}
										<td class="positive">{{round.performance}}%</td>
									{% else %}
										<td class="negative">{{round.performance}}%</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
		
		{% load compress %}
		{% compress js inline %}
		<script>
			$("#player_page_{{id}}").on('pageinit', function(){
				$("#{{ id }}_rating_graph").width($(window).width()-20);
				tryToGraph("{{ id }}_rating_graph", function() {
					initResultGraph({{ id }}+'_pie_graph', {{ played }}, {{ won }}, {{ lost }});
					initRatingGraph({{ id }}+'_rating_graph', [{{ ratings|safe }}], "../../matches/");
				});		
			});
		</script>
		{% endcompress %}
	</div>


{% endblock %}