{% extends "base.html" %} 

{% block title %}Spillere{% endblock %}

{% block content %}



	<!-- Start of first page -->
	<div data-role="page" id="players_page" data-dom-cache="true">
	
		<div data-role="header">
			<a href="../" data-role="button" data-icon="home" data-iconpos="notext"></a>
			<h1>Spillere</h1>
			<div>
				<span>Sortering: </span>
				<a id="lolatm" data-role="button" data-mini="true" data-inline="true" onclick="sortBy(this, 'played')">Kamper</a>
				<a data-role="button" data-mini="true" data-inline="true" onclick="sortBy(this, 'won')">Seire</a>
				<a data-role="button" data-mini="true" data-inline="true" onclick="sortBy(this, 'winp')">Seiers %</a>
				<a id="sort_me" data-role="button" data-mini="true" data-inline="true" onclick="sortBy(this,'rating')">Rating</a>
			</div>
		</div>
		

		<div data-role="content">
			<ul id="players" data-role="listview" data-theme="d">
				{% for p in players %}
				    <li><a href="../players/{{p.id}}/" >
				    	<span class="ui-li-count"><span class="rating">{{p.rating}}</span></span>
				    	{{p.name}}
				    	<span class="smaller"> - Won <span class="won">{{p.won}}</span> of 
				    	<span class="played">{{p.played}}</span> 
				    	(<span class="winp">{{p.win_perc}}</span>%)</span>
				    </a></li>
				{% endfor %}
			</ul>
		</div>
		
		<div data-role="footer">
			<div data-role="fieldcontain">
				<label for="active_filter">Vis bare aktive spillere:</label>
				<select name="active_filter" id="active_filter" data-role="slider">
					<option value="off">Av</option>
					<option value="on" selected="selected">På</option>
				</select> 
			</div>
			
			<div data-role="fieldcontain" style="margin: 0;">
				<label for="select_place" class="select">Sted(er):</label>
				<select name="select_place" class="select_place" id="select_place" data-native-menu="false" data-inline="false" multiple>
					<option>Steder</option>
					{% for p in places %}
						<option value="{{p.name}}" {{p.selected}}>{{p.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	
		{% load compress %}
		{% compress js inline %}
		<script src="{{ STATIC_URL }}jquery.tinysort.min.js"></script>
		<script>
			$( "#active_filter" ).on( 'slidestop change', function( event ) {
				console.log($(this).val())
				if ($(this).val() == "on") {
					hideAllInactivePlayers();
				}
				else {
					$("#players").children().show();
				}
			});
			
			function hideAllInactivePlayers() {
				$("#players").children().each(function(){
					if (parseInt($(this).find('.played').text()) < {{config.active_treshold}}) {
						$(this).hide();
					}
				})
			}
			
			
			$('.select_place').last().bind( "change", function(event, ui) {
				var places = []; 
				$(this).find(':selected').each(function(){ 
					places.push($(this).val());
				});
				$.mobile.changePage( "./", {
					type: "get", 
					data: { places: places, }
				});	
			});
			
			function sortBy(element, type) {
				element = $(element);
				if (element.hasClass('descending')) {
					element.parent().children().removeClass('descending ascending');
					element.addClass('ascending');
					$('#players li').tsort("."+type, {order:'asc'});
				}
				else {
					element.parent().children().removeClass('descending ascending');
					element.addClass('descending');
					$('#players li').tsort("."+type, {order:'desc'});
				}
			}
			
			$("#players_page").on('pageinit', function(){
				$('#players').find('.ui-li-last').removeClass('ui-li-last');
				sortBy($('#sort_me'), "rating");
				hideAllInactivePlayers();
				$( "#active_filter" ).val("on");
			});
		</script>
		{% endcompress %}
	
	</div>
{% endblock %}