{% extends "base.html" %} 

{% block title %}Enter{% endblock %} 
{% block imports %}{% endblock %} 

{% block content %}

	<script>
		$(document).ready(function() {
		console.log($("#select_place").parents('.ui-btn'))
		    $(".ui-selectmenu").append('<a data-role="button" data-mini="true" >Last ny side</a>').trigger( "create" );
		});
		
		function sortBy(type) {
			$('#players li').tsort("."+type, {order:'desc'})
		}
	</script>

	<!-- Start of first page -->
	<div data-role="page" id="foo">
	
		<div data-role="header">
			<a href="../" data-role="button" data-icon="home" data-iconpos="notext"></a>
			<h1>Spillere</h1>
			<div>
				<span>Sortering: </span>
				<a data-role="button" data-mini="true" data-inline="true" onclick="sortBy('played')">Kamper</a>
				<a data-role="button" data-mini="true" data-inline="true" onclick="sortBy('won')">Seire</a>
				<a data-role="button" data-mini="true" data-inline="true" onclick="sortBy('winp')">Seiers %</a>
			</div>
		</div>
		

		<div data-role="content">
			<ul id="players" data-role="listview" data-theme="d">
				{% for p in players %}
				    <li><a href="../player/{{p.id}}" >
				    	<span class="ui-li-count"><span class="winp">{{p.win_perc}}</span>%</span>
				    	{{p.name}}
				    	<span class="smaller"> - Won <span class="won">{{p.won}}</span> of <span class="played">{{p.played}}</span></span>
				    </a></li>
				{% endfor %}
			</ul>
		</div>
		
		<div data-role="footer">

		</div>

	</div>
{% endblock %}