{% extends "base.html" %} 

{% block title %}Enter{% endblock %} 
{% block imports %}{% endblock %} 

{% block content %}



	<!-- Start of first page -->
	<div data-role="page" id="player_page" data-dom-cache="true">
	
		<div data-role="header">
			<a href="../" data-role="button" data-icon="home" data-iconpos="notext"></a>
			<h1>Spillere</h1>
			<div>
				<span>Sortering: </span>
				<a data-role="button" data-mini="true" data-inline="true" onclick="sortBy('played')">Kamper</a>
				<a data-role="button" data-mini="true" data-inline="true" onclick="sortBy('won')">Seire</a>
				<a data-role="button" data-mini="true" data-inline="true" onclick="sortBy('winp')">Seiers %</a>
				<a data-role="button" data-mini="true" data-inline="true" onclick="sortBy('rating')">Rating</a>
			</div>
		</div>
		

		<div data-role="content">
			<ul id="players" data-role="listview" data-theme="d">
				{% for p in players %}
				    <li><a href="../players/{{p.id}}/" >
				    	<span class="ui-li-count"><span class="rating">{{p.rating}}</span></span>
				    	{{p.name}}
				    	<span class="smaller"> - Won <span class="won">{{p.won}}</span> of 
				    	<span class="played">{{p.played}}</span> 
				    	(<span class="winp">{{p.win_perc}}</span>%)</span>
				    </a></li>
				{% endfor %}
			</ul>
		</div>
		
		<div data-role="footer">
			<div data-role="fieldcontain" style="margin: 0;">
				<label for="select_place" class="select">Sted(er):</label>
				<select name="select_place" class="select_place" id="select_place" data-native-menu="false" data-inline="false" multiple>
					<option>Steder</option>
					{% for p in places %}
						<option value="{{p.name}}" {{p.selected}}>{{p.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	
		{% load compress %}
		{% compress js inline %}
		<script src="{{ STATIC_URL }}jquery.tinysort.min.js"></script>
		<script>
			$('.select_place').last().bind( "change", function(event, ui) {
				var places = []; 
				$(this).find(':selected').each(function(){ 
					places.push($(this).val());
				});
				$.mobile.changePage( "./", {
					type: "get", 
					data: { places: places, }
				});	
			});
			
			function sortBy(type) {
				$('#players li').tsort("."+type, {order:'desc'})
			}
			sortBy("rating");
		</script>
		{% endcompress %}
	
	</div>
{% endblock %}