{% extends "base.html" %} 

{% block title %}Rating{% endblock %}

{% block content %}
	<!-- Start of first page -->
	<div data-role="page" id="rating_page" data-dom-cache="true">
	
		<div data-role="header">
			<a href="../" data-role="button" data-icon="home" data-iconpos="notext"></a>
			<h1>Rating</h1>
		</div>
		
	
		<div data-role="content">
			{% if max %}
				<div>
					<ul>
						<li>Høyeste rating oppnådd er {{max.rating}} og ble først oppnådd av <a href="../players/{{max.pid}}/">{{max.pname}}</a> i <a href="../matches/{{max.mid}}/">denne</a> kampen.</li>
						<li>Laveste rating oppnådd er {{min.rating}} og ble først oppnådd av <a href="../players/{{min.pid}}/">{{min.pname}}</a> i <a href="../matches/{{min.mid}}/">denne</a> kampen.</li>
					</ul>
				</div>
			{% endif %}
			<div class="center_outer">
				<div id="ratings_graph" class="graph center_inner"></div>
			</div>
			<div style="overflow: hidden;">
				<p><i class="smaller">Les om hvordan ratingen blir regnet ut <a href="./description/">her</a>.</i></p>
			</div>
		</div>

		<script>
			$("#rating_page").on('pageinit', function(){
				// Set graph with
				$("#ratings_graph").width($(window).width()-20);
				
				// Convert name list from unicode string to a javascript string
				var names = [];
				{% for name in player_names %}
				    names.push("{{name}}");
				{% endfor %}

				// Create graph
				tryToGraph("ratings_graph", function(){
					initRatingGraph('ratings_graph', {{ players|safe }}, "../matches/", names);
				});
			});
		</script>

	</div>
{% endblock %}