{% extends "base.html" %} 

{% block title %}Rating{% endblock %} 
{% block imports %}{% endblock %} 

{% block content %}
	<!-- Start of first page -->
	<div data-role="page" id="rating_page" data-dom-cache="true">
	
		<div data-role="header">
			<a href="../" data-role="button" data-icon="home" data-iconpos="notext"></a>
			<h1>Rating</h1>
		</div>
		
	
		<div data-role="content">
			<p>Rating er en verdi som angir ferdighet på gitt tidspunkt og blir regnet ut på samme måte som <a href="http://en.wikipedia.org/wiki/Elo_rating_system">Elo rating</a>.</p>
			{% if max %}
				<div>
					<ul>
						<li>Høyeste rating oppnådd er {{max.rating}} og ble først oppnådd av <a href="../players/{{max.pid}}/">{{max.pname}}</a> i <a href="../matches/{{max.mid}}/">denne</a> kampen.</li>
						<li>Laveste rating oppnådd er {{min.rating}} og ble først oppnådd av <a href="../players/{{min.pid}}/">{{min.pname}}</a> i <a href="../matches/{{min.mid}}/">denne</a> kampen.</li>
					</ul>
				</div>
			{% endif %}
			<div class="center_outer">
				<div id="ratings_graph" class="graph center_inner"></div>
			</div>
		</div>
		
		{% load compress %}
		{% compress js inline %}
		<script>
			$("#rating_page").on('pageinit', function(){
				// Set graph with
				$("#ratings_graph").width($(window).width()-20);
				/*
				* This method is a semi-hax that attempts to init the graph in
				* an interval until it succeds. I was unable to trigger the method
				* at the correct time.
				*/
				var interval = setInterval(function(){
					try {
						initRatingGraph('ratings_graph', {{ players|safe }}, "../matches/", {{ player_names|safe }});
					}
					catch(err) {
						window.clearInterval(interval);
						alert("Failed to initiate graph: "+err);
					}
					if ($("#ratings_graph").find('canvas').length > 0) {
						window.clearInterval(interval);
					}
				},100);
			});
		</script>
		{% endcompress %}
	</div>
{% endblock %}