{% extends "base.html" %} 

{% block title %}Diverse{% endblock %}

{% block content %}
	<!-- Start of first page -->
	<div data-role="page" id="stats_page" data-dom-cache="true">
	
		<div data-role="header">
			<a href="../" data-role="button" data-icon="home" data-iconpos="notext"></a>
			<h1>Diverse</h1>
		</div>
		
	
		<div data-role="content">
					
			<div id="match_rounds_stats" data-role="collapsible-set" data-inset="false" data-iconpos="right">
			
				<div data-role="collapsible">
					<h3><span class="icon icon_spade left"></span><span class="text left">Spar</span></h3>
					<p>
						<ul>
							<li>Først med dårligste <a href="../matches/{{spades.worst.mid}}/">runde</a>: <a href="../players/{{spades.worst.pid}}/">{{spades.worst.pname}}</a> med {{spades.worst.sum}} poeng.</li>
							<li>Gjennomsnitt hvis man fikk spa(r): {{spades.average}} poeng.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible">
					<h3><span class="icon icon_queen left"></span><span class="text left">Damer</span></h3>
					<p>
						<ul>
							<li>Først med dårligste <a href="../matches/{{queens.worst.mid}}/">runde</a>: <a href="../players/{{queens.worst.pid}}/">{{queens.worst.pname}}</a> med {{queens.worst.sum}} poeng.</li>
							<li>Gjennomsnitt hvis man fikk dame(r): {{queens.average}} poeng.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible">
					<h3><span class="icon icon_solit_lines left"></span><span class="text left">Kabal</span></h3>
					<p>
						<ul>
							<li>Høyeste antall strek i en <a href="../matches/{{solitaire_lines.worst.mid}}/">runde</a>: <a href="../players/{{solitaire_lines.worst.pid}}/">{{solitaire_lines.worst.pname}}</a> med {{solitaire_lines.worst.sum}} strek.</li>
							<li>Gjennomsnitt av antal strek hvis man fikk en eller flere: {{solitaire_lines.average}} strek.</li>
							<li>Høyeste antall kort igjen i en <a href="../matches/{{solitaire_cards.worst.mid}}/">runde</a>: <a href="../players/{{solitaire_cards.worst.pid}}/">{{solitaire_cards.worst.pname}}</a> med {{solitaire_cards.worst.sum}} kort.</li>
							<li>Gjennomsnitt av antal kort hvis man satt igjen med et eller flere: {{solitaire_cards.average}} kort.</li>
							<li>Dårligste <a href="../matches/{{solitaire_total.worst.mid}}/">runde</a>: <a href="../players/{{solitaire_total.worst.pid}}/">{{solitaire_total.worst.pname}}</a> med {{solitaire_total.worst.sum}} poeng.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible">
					<h3><span class="icon icon_pass left"></span><span class="text left">Pass</span></h3>
					<p>
						<ul>
							<li>Første med dårligste <a href="../matches/{{pass.worst.mid}}/">runde</a>: <a href="../players/{{pass.worst.pid}}/">{{pass.worst.pname}}</a> med {{pass.worst.sum}} stikk.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible">
					<h3><span class="icon icon_grand left"></span><span class="text left">Grand</span></h3>
					<p>
						<ul>
							<li>Først med beste <a href="../matches/{{grand.best.mid}}/">runde</a>: <a href="../players/{{grand.best.pid}}/">{{grand.best.pname}}</a> med {{grand.best.sum}} stikk.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible">
					<h3><span class="icon icon_trumph left"></span><span class="text left">Trumf</span></h3>
					<p>
						<ul>
							<li>Først med beste <a href="../matches/{{trumph.best.mid}}/">runde</a>: <a href="../players/{{trumph.best.pid}}/">{{trumph.best.pname}}</a> med {{trumph.best.sum}} stikk.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible" data-collapsed="false">
					<h3><span class="icon icon_sum left"></span><span class="text left">Totalt</span></h3>
					<p>
						<ul>
							<li>Beste <a href="../matches/{{total.best.mid}}/">kamp</a>: <a href="../players/{{total.best.pid}}/">{{total.best.pname}}</a> med {{total.best.sum}} poeng. Se <a href="./best-results/?amount=20">top20</a>.</li>
							<li>Dårligste <a href="../matches/{{total.worst.mid}}/">kamp</a>: <a href="../players/{{total.worst.pid}}/">{{total.worst.pname}}</a> med {{total.worst.sum}} poeng. Se <a href="./worst-results/?amount=20">bunn20</a>.</li>
							<li>Gjennomsnittet er {{total.average}} poeng.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible" data-collapsed="false">
					<h3>Ytterpunkter</h3>
					<p>
						<ul>
							<li>Høyeste antall poeng oppnådd før Grand er {{extremes.gain.sum}} av <a href="../players/{{extremes.gain.pid}}/">{{extremes.gain.pname}}</a> i <a href="../matches/{{extremes.gain.mid}}/">denne kampen.</a></li>
							<li>Største reduksjon av poeng etter Grand er {{extremes.loss.sum}} av <a href="../players/{{extremes.loss.pid}}/">{{extremes.loss.pname}}</a> i <a href="../matches/{{extremes.loss.mid}}/">denne kampen.</a></li>
						</ul>
					</p>
				</div>
			</div>
	
		</div>
	</div>
{% endblock %}