{% extends "base.html" %} 

{% block title %}Enter{% endblock %} 
{% block imports %}{% endblock %} 

{% block content %}
	<!-- Start of first page -->
	<div data-role="page" id="stats_page">
	
		<div data-role="header">
			<a href="../" data-role="button" data-icon="home" data-iconpos="notext"></a>
			<h1>Runder</h1>
		</div>
		
	
		<div data-role="content">
					
			<div id="match_rounds_stats" data-role="collapsible-set" data-inset="false" data-iconpos="right">
			
				<div data-role="collapsible" data-collapsed="false">
					<h3><span class="icon icon_spade left"></span><span class="text left">Spar</span></h3>
					<p>
						<div>Spar er en runde der maximum/minimum kan oppn&arings, derfor representerer best/d&aringrligst hvem som <b>f&oslashrst</b> fikk poengsummen. </div>
						<ul>
							<li>D&aringrligste runde: <a href="../players/{{spades.worst.pid}}/">{{spades.worst.pname}}</a> med {{spades.worst.sum}} poeng.</li>
							<li>Gjennomsnitt hvis man fikk spar: {{spades.average}} poeng.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible">
					<h3><span class="icon icon_queen left"></span><span class="text left">Damer</span></h3>
					<p>
						<div>Damer er en runde der maximum/minimum kan oppn&arings, derfor representerer best/d&aringrligst hvem som <b>f&oslashrst</b> fikk poengsummen. </div>
						<ul>
							<li>D&aringrligste runde: <a href="../players/{{queens.worst.pid}}/">{{queens.worst.pname}}</a> med {{queens.worst.sum}} poeng.</li>
							<li>Gjennomsnitt hvis man fikk spar: {{queens.average}} poeng.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible">
					<h3><span class="icon icon_solit_lines left"></span><span class="text left">Kabal</span></h3>
					<p>
						<ul>
							<li>H&oslashyeste antall strek i en runde: <a href="../players/{{solitaire_lines.worst.pid}}/">{{solitaire_lines.worst.pname}}</a> med {{solitaire_lines.worst.sum}} strek.</li>
							<li>Gjennomsnitt av antal strek hvis man fikk en eller flere: {{solitaire_lines.average}} strek.</li>
							<li>H&oslashyeste antall kort igjen i en runde: <a href="../players/{{solitaire_cards.worst.pid}}/">{{solitaire_cards.worst.pname}}</a> med {{solitaire_cards.worst.sum}} kort.</li>
							<li>Gjennomsnitt av antal kort hvis man satt igjen med et eller flere: {{solitaire_cards.average}} kort.</li>
							<li>D&aringrligste runde: <a href="../players/{{solitaire_total.worst.pid}}/">{{solitaire_total.worst.pname}}</a> med {{solitaire_total.worst.sum}} poeng.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible">
					<h3><span class="icon icon_pass left"></span><span class="text left">Pass</span></h3>
					<p>
						<div>Pass er en runde der maximum/minimum kan oppn&arings, derfor representerer best/d&aringrligst hvem som <b>f&oslashrst</b> fikk poengsummen. </div>
						<ul>
							<li>D&aringrligste runde: <a href="../players/{{pass.worst.pid}}/">{{pass.worst.pname}}</a> med {{pass.worst.sum}} poeng.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible">
					<h3><span class="icon icon_grand left"></span><span class="text left">Grand</span></h3>
					<p>
						<div>Grand er en runde der maximum/minimum kan oppn&arings, derfor representerer best/d&aringrligst hvem som <b>f&oslashrst</b> fikk poengsummen. </div>
						<ul>
							<li>Beste runde: <a href="../players/{{grand.best.pid}}/">{{grand.best.pname}}</a> med -{{grand.best.sum}} poeng.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible">
					<h3><span class="icon icon_trumph left"></span><span class="text left">Trumf</span></h3>
					<p>
						<div>Trumf er en runde der maximum/minimum kan oppn&arings, derfor representerer best/d&aringrligst hvem som <b>f&oslashrst</b> fikk poengsummen. </div>
						<ul>
							<li>Beste runde: <a href="../players/{{trumph.best.pid}}/">{{trumph.best.pname}}</a> med -{{trumph.best.sum}} poeng.</li>
						</ul>
					</p>
				</div>
				
				<div data-role="collapsible">
					<h3><span class="icon icon_sum left"></span><span class="text left">Totalt</span></h3>
					<p>
						<ul>
							<li>Beste kamp: <a href="../players/{{total.best.pid}}/">{{total.best.pname}}</a> med {{total.best.sum}} poeng.</li>
							<li>Neste beste kamp: <a href="../players/{{total.second.pid}}/">{{total.second.pname}}</a> med {{total.second.sum}} poeng.</li>
							<li>Tredje beste kamp: <a href="../players/{{total.third.pid}}/">{{total.third.pname}}</a> med {{total.third.sum}} poeng.</li>
							<li>D&aringrligste kamp: <a href="../players/{{total.worst.pid}}/">{{total.worst.pname}}</a> med {{total.worst.sum}} poeng.</li>
						</ul>
					</p>
				</div>
				
			</div>
	
		</div>
	</div>
{% endblock %}