/******************** Add match page ********************/

.left {
	float: left;
}
/* Make the Total colon at the add match page bold */
#playerresult_set-group tbody td.field-total p { 
	font-weight: bold;
}

.setting_item {
	margin: 5px 0 0 5px;
}

/******************** Add configuration page ********************/

.aligned label {
	width: 20em;
}